<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <nav style="background:#222;padding:10px;">
        <a th:href="@{/stocks}" style="color:white;margin-right:15px;">保有一覧</a>
        <a th:href="@{/trades/buy/new}" style="color:white;margin-right:15px;">新規購入</a>
        <a th:href="@{/trades/buy/add}" style="color:white;margin-right:15px;">追加購入</a>
        <a th:href="@{/trades/sell}" style="color:white;margin-right:15px;">売却</a>
        <a th:href="@{/trades/history}" style="color:white;margin-right:15px;">取引履歴</a>
        <a th:href="@{/trades/sell-history}" style="color:white;">売却損益</a>
    </nav>
</div>
</body>
</html>