<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>保有銘柄一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>
<div class="container">

    <!-- ================= -->
    <!-- タイトル -->
    <!-- ================= -->
    <h1 class="page-title">保有銘柄一覧</h1>

    <!-- ================= -->
    <!-- 合計評価額 -->
    <!-- ================= -->
    <div class="card info-total">
        <div class="total-label">総資産</div>
        <div class="total">
            ¥<span th:text="${#numbers.formatInteger(totalHoldingAmount, 0, 'COMMA')}"></span>
        </div>
    </div>

    <!-- ================= -->
    <!-- 銘柄一覧 -->
    <!-- ================= -->
    <table class="stock-table">

        <thead>
        <tr>
            <th>銘柄</th>
            <th>口座</th>
            <th class="right">株数</th>
            <th class="right">取得単価</th>
            <th class="right">評価額</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="h : ${holdings}">
            <td>
                <a th:href="@{/stocks/{id}(id=${h.stockId})}">
                    <span th:text="${h.stockCode}"></span>
                    <span th:text="${h.stockName}"></span>
                </a>
            </td>

            <td>
            <span th:text="${h.accountType.displayName}"
                  th:class="${h.accountType.name()} == 'NISA' ? 'badge-nisa' : 'badge-taxable'">
            </span>
            </td>

            <td class="right" th:text="${h.quantity}"></td>

            <td class="right">
                ¥<span th:text="${#numbers.formatInteger(h.averagePrice, 0, 'COMMA')}"></span>
            </td>

            <td class="right">
                ¥<span th:text="${#numbers.formatInteger(h.holdingAmount, 0, 'COMMA')}"></span>
            </td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>