<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>保有銘柄一覧</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="layout/header :: header"></div>

<div class="container">

<h1 class="page-title">保有銘柄一覧</h1>

<div class="card">

<div class="info-grid info-total">

<div class="label total-label">保有評価額</div>
<div class="total" th:text="${totalHoldingAmount} + ' 円'"></div>

</div>

</div>

<div class="card">

<table class="stock-table">

<thead>
<tr>
<th>銘柄</th>
<th class="right">株数</th>
<th class="right">平均取得</th>
<th class="right">投資額</th>
<th class="right">評価額</th>
<th>口座</th>
</tr>
</thead>

<tbody>

<tr th:each="h : ${holdings}">

<td>
<a th:href="@{/stocks/{id}(id=${h.stockId})}">
<span th:text="${h.stockCode}"></span>
<span th:text="${h.stockName}"></span>
</a>
</td>

<td class="right" th:text="${h.quantity} + '株'"></td>

<td class="right" th:text="${h.averagePrice} + '円'"></td>

<td class="right" th:text="${h.totalBuyAmount} + '円'"></td>

<td class="right" th:text="${h.holdingAmount} + '円'"></td>

<td th:text="${h.accountType}"></td>

</tr>

</tbody>

</table>

</div>

</div>

</body>
</html>
