<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>StockApp</title>

    <!-- レスポンシブ対応 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>

<main class="container">

    <!-- ユーザー表示 -->
    <section class="welcome">
        <h2>
            ようこそ、
            <span th:text="${username}">ユーザー名</span>
            さん
        </h2>
    </section>

    <!-- サマリー -->
    <section class="dashboard-summary">



        <div class="card">
            <h3>実現損益</h3>
            <p th:text="${realizedProfit.setScale(0, T(java.math.RoundingMode).DOWN)} + ' 円'">0 円</p>
        </div>

    </section>

    <!-- クイックメニュー -->
    <section class="quick-actions">

        <div class="card action">
            <h3>保有銘柄</h3>
            <a href="/stocks">一覧を見る</a>
        </div>

        <div class="card action">
            <h3>新規購入</h3>
            <a href="/trades/buy/new">登録する</a>
        </div>

        <div class="card action">
            <h3>追加購入</h3>
            <a href="/trades/buy/add">登録する</a>
        </div>

    </section>

</main>

<footer>
    © 2026 StockApp
</footer>
</body>