<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>株の買い増し</title>
</head>
<body>
<div th:replace="layout/header :: header"></div>

<h1>株の追加購入</h1>

<form th:action="@{/trades/buy/add}"
      th:object="${addBuyRequest}"
      method="post">

    <input type="hidden" th:field="*{stockId}" />
    <input type="hidden" th:field="*{accountType}" />

    <div>
        <label>銘柄</label>
        <div>
            <span th:text="${stock.stockCode}"></span>
            <span th:text="${stock.stockName}"></span>
            <span th:text="${accountType}"></span>
        </div>
    </div>

    <div>
        <label>数量</label>
        <input type="number" th:field="*{quantity}" required>
    </div>

    <div>
        <label>価格</label>
        <input type="number" th:field="*{price}" required>
    </div>

    <div>
        <label>取引日</label>
        <input type="date" th:field="*{tradeDate}" required>
    </div>

    <button type="submit">追加購入</button>
</form>

<p>
    <a href="/stocks">一覧に戻る</a>
</p>

</body>
</html>
